html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header {
  padding: 20px 50px 70px 100px;
  border: 1px solid #000;
  width: 800px;
  margin-bottom: 50px;
}

.logo {
  width: 150px;
  padding: 10px;
  /* display: inline-block; */
  border: 1px dashed yellow;
}

.menu {
  height: 1000px;
  width: 600px;
  padding: 0px 0;
  border: 2px dotted blue;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu li {
  /* margin: 10px 10px; */
  width: 60px;
  border: 1px solid black;
}

main {
  border: 1px solid blue;
}
